@import '../../../assets/scss/variables';

.toggle-button {
  display: flex;
  align-items: center;
  @include slideUp($spacing-2, 0.5s);

  &__icon {
    color: $accent-color;
    margin-top: $spacing-8;
  }

  &__btn {
    color: $accent-color;
  }
}
