// Font
$font-family-primary: 'Avenir Next', 'Open sans', -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Helvetica Neue', sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 450;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$line-height-base: 1.5;
$line-height-2: 2;
