@import '../../../assets/scss/variables';

.arrival {
  width: 100%;
  @include slideUp($spacing-4, 0.5s);

  &__title {
    font-weight: $font-weight-bold;
    color: $grey-medium;
    line-height: $line-height-2;
  }

  &__date,
  &__time {
    font-weight: $font-weight-bold;
    line-height: $line-height-2;
  }

  &__time {
    color: $grey;
  }
}
