@import '../../../assets/scss/variables';

.button {
  font-weight: $font-weight-bold;
  transition: 0.4s ease-out;

  &:hover {
    color: $accent-color;
  }

  &__primary {
    color: $accent-color;
  }

  &__tertiary {
    color: $grey;
  }
}
