@import '../../assets/scss/variables';

.route-item-head {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: $spacing-32;

  @media screen and (min-width: $screen-lg-min) {
    width: 60%;
  }

  &__name {
    font-weight: $font-weight-bolder;
  }

  &__address {
    font-weight: $font-weight-bold;
  }

  &__opening {
    font-weight: $font-weight-bold;

    &--label {
      color: $grey;
    }
  }
}
